@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700&display=swap');
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Raleway', sans-serif;
    // font-family: 'Mukta Vaani', sans-serif;
}

.container {
    max-width: 1170px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.spinners_move {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

// specialists page 
#specialistsPage {
    .viewBtn {
        display: none;
    }
}